.footer__link {
    text-decoration: none;
}

.footer__link:visited {
    color: rgb(100, 100, 100);
}

.footer__link:focus {
    outline: 2px solid currentColor;
}

.footer__link:hover {
    color: hsl(313, 100%, 50%);
    border-bottom: 1px solid;
    outline: none;
}

.footer__link:active {
    color: aqua;
}